{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}

{% set displayTitle = false %}

{% if view.id() == 'staff' and view.current_display == 'page_1' %}
  {% set displayTitle = true %}
{% elseif view.id() == 'online_events' and view.current_display == 'page_2' %}
  {% set displayTitle = true %}
{% elseif view.id() == 'helpful_resources' and view.current_display == 'page' %}
  {% set displayTitle = true %}
{% elseif view.id() == 'events' and view.current_display == 'page_1' %}
  {% set displayTitle = true %}
{% endif %}

{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if displayTitle %}
    {% include '@components/Organism/PageHeader/SimplePageHeader/SimplePageHeader.twig' with {
      heading: {headline : view.getTitle()}
    } only %}
  {% endif %}
  {% if view.id() == 'helpful_resources_by_topic' and view.current_display == 'all' %}
    <h2 class="text-theme-heading-color [&_a]:underline [&_a]:text-theme-fancy-link-color hocus:[&_a]:text-theme-fancy-link-hocus-color font-extrabold font-display leading-[1.15] text-2xl sm:text-size-3xl md:text-size-4xl">{{ view.getTitle() }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {% include '@components/GenericSlab/GenericSlab.twig' with {
        component: header
      } only %}
    </div>
  {% endif %}
  {% if exposed %}
      {% include '@components/Organism/Form/Form.twig' with {form: exposed} only %}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content">
      {% if view.id() == 'helpful_resources' and view.current_display == 'page' %}
        {% include '@components/GenericSlab/GenericSlab.twig' with {
          heading: {headline : 'Browse all Helpful Resources'}
        } only %}
      {% endif %}
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
