{# tip: disable line-wrap in code-editor for better readability (b/c of long inline SVG) #}
{#
  Note: using `sidebar-up` breakpoint to determine mobile vs. desktop layout,
  even though at the moment there's no sidebar on the site. Just will make it
  easier to coordinate if a sidebar IS added down the line.
#}

{% set mobileMenuId = 'mobile-menu' %}
{% set mobileMenuTogglerId = 'mobile-menu-toggler' %}
{% set mobileMenuCloserId = 'mobile-menu-closer' %}

<header id="site-header">
  <h2 class="sr-only">{{ visuallyHiddenSiteTitle }}</h2>

  {# DESKTOP-ONLY TOP GRAY AREA #}
  <div class="hidden sidebar-up:block">
    {% set grayTopArea %}
      <div class="bg-theme-bg-color text-theme-text-color py-3">
        <div class="container">
          <div class="flex justify-end children:mx-2.5 -mx-2.5">

            {# DESKTOP UTILITY LINKS #}
            <div class="self-center">
              {% block utility_nav %}
                {{ utility_nav }}
              {% endblock %}
            </div>{# END DESKTOP UTILITY LINKS #}

            {# tw #} {% set controlColors = 'bg-white text-theme-fancy-link-color' %}

            {# DESKTOP INFO-FOR LINKS (SELECT) #}
            <div class="hide-if-no-js max-w-[calc(200rem/16)]">
              {% set selectBgSvg %}
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1979_17514)"><path d="M7.41 8.59003L12 13.17L16.59 8.59003L18 10L12 16L6 10L7.41 8.59003Z" fill="currentColor"/></g><defs><clipPath id="clip0_1979_17514"><rect width="24" height="24" fill="currentColor"/></clipPath></defs></svg>
              {% endset %}

              <div
                style="--tw-mask-image: url('data:image/svg+xml,{{ selectBgSvg|escape('url') }}')"
                class="
                  relative h-full
                  after:absolute after:pointer-events-none after:mask-custom after:bg-theme-fancy-link-color
                  after:w-6 after:h-6 after:right-0.5 after:top-1/2 after:-translate-y-1/2
                "
              >
                <select
                  id="info-for-select"
                  aria-label="'Info for' links (selecting an option will navigate to the corresponding page)"
                  class="
                    {{ controlColors }} appearance-none rounded-none p-3 h-full
                    text-sm leading-none font-bold w-full pr-10
                  "
                >
                  <option value="">Select info for...</option>
                  {% for link in infoForLinks %}
                    <option value="{{ link.url }}">{{ link.title }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>{# END DESKTOP INFO-FOR LINKS #}

            {# DESKTOP INFO-FOR LINKS NO-JS FALLBACK #}
            <noscript>
              <div class="h-full grid place-items-center">
                <details class="relative">
                  <summary class="px-2 cursor-pointer transition-colors text-sm leading-none font-bold text-theme-fancy-link-color hocus:text-theme-fancy-link-hocus-color">Info for...</summary>
                  <div class="bg-theme-bg-color absolute z-10 right-0 top-full mt-6 w-max p-4 border border-neutral-700">
                    <ul role="list" class="space-y-2">
                      {% for link in infoForLinks %}
                        <li><a href="{{ link.url }}" class="text-sm leading-none font-bold text-theme-fancy-link-color hocus:text-theme-fancy-link-hocus-color">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </details>
              </div>
            </noscript>{# END DESKTOP INFO-FOR LINKS NO-JS FALLBACK #}

            {# DESKTOP SEARCH-FORM #}
            <form action="{{ searchFormAction }}" class="flex {{ controlColors }} max-w-[calc(200rem/16)]">
              {% set searchInputId = 'site-search' %}

              <label
                for="{{ searchInputId }}"
                class="sr-only"
              >Search</label>

              <input
                id="{{ searchInputId }}"
                name="q"
                placeholder="Search"
                class="
                  {{ controlColors }} rounded-none px-3 py-2 grow min-w-0 h-full
                  text-base leading-none {# have to use at least 16-pt font so that iOS doesn't do the zoom-thing on focus #}
                  placeholder:text-current placeholder:text-sm placeholder:font-bold
                "
                value="{{ search_query }}"
              />

              <button
                type="submit"
                aria-label="Submit"
                class="group/button p-3 shrink-0"
              >
                <svg aria-hidden="true" class="fill-theme-fancy-link-color group-hocus/button:fill-theme-fancy-link-color transition-colors" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2373_8795_2)"><path d="M14.67 14.6699C14.7745 14.5656 14.8574 14.4417 14.914 14.3053C14.9705 14.1688 14.9996 14.0226 14.9996 13.8749C14.9996 13.7273 14.9705 13.581 14.914 13.4446C14.8574 13.3082 14.7745 13.1843 14.67 13.0799L11.82 10.2299C11.7603 10.1695 11.7228 10.0907 11.7135 10.0063C11.7043 9.92191 11.7238 9.83685 11.769 9.76495C12.6033 8.43629 12.9189 6.84683 12.6555 5.30021C12.3921 3.7536 11.5681 2.35823 10.341 1.38068C9.11386 0.403128 7.56962 -0.0880868 6.00325 0.000873791C4.43689 0.0898344 2.95819 0.752734 1.84965 1.86294C0.741109 2.97314 0.0804239 4.45283 -0.00619174 6.01932C-0.0928074 7.58582 0.400718 9.12933 1.38011 10.355C2.35949 11.5806 3.75609 12.4025 5.3031 12.6636C6.85011 12.9247 8.43909 12.6068 9.7665 11.7704C9.83848 11.7252 9.9237 11.7057 10.0082 11.7153C10.0927 11.7248 10.1714 11.7628 10.2315 11.8229L13.0815 14.6729C13.1857 14.7776 13.3096 14.8607 13.4461 14.9174C13.5825 14.974 13.7288 15.0032 13.8765 15.0032C14.0242 15.0032 14.1705 14.974 14.3069 14.9174C14.4434 14.8607 14.5673 14.7776 14.6715 14.6729L14.67 14.6699ZM2.25 6.37495C2.25 5.5591 2.49193 4.76157 2.94519 4.08322C3.39845 3.40487 4.04269 2.87616 4.79643 2.56394C5.55018 2.25173 6.37958 2.17004 7.17975 2.32921C7.97992 2.48837 8.71493 2.88124 9.29182 3.45813C9.86871 4.03502 10.2616 4.77003 10.4207 5.5702C10.5799 6.37037 10.4982 7.19977 10.186 7.95352C9.87379 8.70726 9.34508 9.3515 8.66673 9.80476C7.98838 10.258 7.19085 10.4999 6.375 10.4999C5.28123 10.4992 4.23248 10.0643 3.45906 9.29088C2.68565 8.51747 2.2508 7.46872 2.25 6.37495Z" /></g><defs><clipPath id="clip0_2373_8795_2"><rect width="15" height="15" /></clipPath></defs></svg>
              </button>
            </form>{# END DESKTOP SEARCH-FORM #}

          </div>
        </div>
      </div>
    {% endset %}
    {% include '@components/utilities/theme-flag.twig' with {
      theme: 'neutral-50',
      component: grayTopArea
    } only %}
  </div>{# END DESKTOP-ONLY GRAY AREA #}

  {# MAIN AREA OF SITE-HEADER (white w/ home logo/link, etc.) #}
  <div class="container py-5 sidebar-up:py-10 sidebar-up:overflow-hidden">
    <div class="
      flex flex-wrap justify-between items-center children:mx-3 -mx-3 children:my-1 -my-1
      sidebar-up:items-end sidebar-up:children:my-4 sidebar-up:-my-4 sidebar-up:children:mx-16 sidebar-up:-mx-16
    ">
      {# HOME LOGO-LINK #}
      <div class="
        grow shrink min-w-[calc(100rem/16)] max-w-[calc(220rem/16)]
        sm:max-w-[calc(280rem/16)]
        sidebar-up:max-w-[calc(370rem/16)] sidebar-up:basis-[calc(370rem/16)] sidebar-up:shrink-0
      ">
        <a
          href="/"
          aria-label="Home"
          class="block"
        >
          <svg aria-hidden="true" viewBox="0 0 200 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M197.931 26.8984H43.4927V27.8502H197.931V26.8984Z" fill="#FFCF01"/><path d="M47.755 39.6027C45.1065 39.6027 43.534 37.6578 43.534 35.1748C43.534 32.5678 45.3548 30.4987 48.086 30.4987C50.6931 30.4987 52.307 32.4436 52.307 34.9266C52.2656 37.4509 50.4862 39.6027 47.755 39.6027ZM47.7136 31.8229C46.3894 31.8229 45.3962 32.8988 45.3962 34.761C45.3962 36.8715 46.3894 38.2371 48.0447 38.2371C49.3689 38.2371 50.3621 37.1198 50.3621 35.2576C50.3621 33.3126 49.4103 31.8229 47.7136 31.8229Z" fill="#003767"/><path d="M58.266 39.3958H53.0933C53.0933 39.3958 53.6312 39.3544 53.6312 37.9888V33.1471C53.6312 31.9056 53.0519 31.8643 53.0519 31.8643H55.8245C55.8245 31.8643 55.2038 31.9056 55.2038 33.1471V38.3613H56.7763C57.7281 38.3613 58.2247 37.8647 58.6385 36.9129L58.266 39.3958Z" fill="#003767"/><path d="M62.6526 39.3958H59.342C59.342 39.3958 59.9627 39.3544 59.9627 37.9888V33.1471C59.9627 31.9056 59.2592 31.8643 59.2592 31.8643H62.7767C65.1355 31.8643 66.6666 33.354 66.6666 35.5473C66.6252 37.5336 65.4665 39.3958 62.6526 39.3958ZM62.3629 32.8988H61.5766V38.3613H62.6939C64.2251 38.3613 64.9286 37.037 64.9286 35.6714C64.9286 34.0575 64.1009 32.8988 62.3629 32.8988Z" fill="#003767"/><path d="M73.7843 39.3958H69.9772C69.9772 39.3958 70.7221 39.3545 70.7221 37.7819V32.1539C70.7221 30.7469 69.8944 30.7056 69.8944 30.7056H73.9499C76.6811 30.7056 78.4605 32.4436 78.4605 34.9679C78.3777 37.244 77.0121 39.3958 73.7843 39.3958ZM73.4533 31.8643H72.5429V38.1958H73.8257C75.6051 38.1958 76.3914 36.6646 76.3914 35.0507C76.4328 33.1885 75.481 31.8643 73.4533 31.8643Z" fill="#003767"/><path d="M82.9712 39.5613C80.6952 39.5613 79.2882 37.8647 79.2882 35.7542C79.2882 33.5195 80.8607 31.6987 83.2195 31.6987C85.4955 31.6987 86.8611 33.3954 86.8611 35.5059C86.8611 37.7405 85.33 39.5613 82.9712 39.5613ZM82.9298 32.8574C81.7711 32.8574 80.9021 33.7678 80.9021 35.4231C80.9021 37.2439 81.7711 38.4026 83.1781 38.4026C84.3368 38.4026 85.2059 37.4509 85.2059 35.837C85.2059 34.1403 84.4196 32.8574 82.9298 32.8574Z" fill="#003767"/><path d="M93.6892 39.3958C93.6892 39.3958 94.2272 39.3544 94.2272 38.113V33.8506L91.7029 39.5613L89.0958 33.8506V38.0716C89.0958 39.3544 89.7993 39.3958 89.7993 39.3958H87.1922C87.1922 39.3958 87.8957 39.3544 87.8957 38.0302V33.1057C87.8957 31.9056 87.1508 31.9056 87.1508 31.9056H89.9234L91.9098 36.4577L93.8961 31.9056H96.379C96.379 31.9056 95.7583 31.947 95.7583 33.1471V38.1544C95.7583 39.3958 96.379 39.4372 96.379 39.4372L93.6892 39.3958Z" fill="#003767"/><path d="M97.1239 39.3958C97.1239 39.3958 97.7033 39.3544 97.7033 38.2371V33.1057C97.7033 31.947 97.1239 31.9056 97.1239 31.9056H99.9379C99.9379 31.9056 99.3585 31.947 99.3585 33.1057V38.2371C99.3585 39.3958 99.9379 39.3958 99.9379 39.3958H97.1239Z" fill="#003767"/><path d="M107.925 33.1471V39.4372H106.766C106.766 39.4372 106.476 38.5681 105.566 37.4508L103.042 34.3885V38.2371C103.042 39.4372 103.745 39.4785 103.745 39.4785H101.221C101.221 39.4785 101.8 39.4372 101.8 38.2371V33.2712C101.8 32.4022 100.848 31.9884 100.766 31.947H103.166L106.725 36.3749V33.1884C106.725 31.9884 106.104 31.947 106.104 31.947H108.587C108.545 31.9056 107.925 31.9056 107.925 33.1471Z" fill="#003767"/><path d="M109.249 39.3958C109.249 39.3958 109.828 39.3544 109.828 38.2371V33.1057C109.828 31.947 109.249 31.9056 109.249 31.9056H112.063C112.063 31.9056 111.484 31.947 111.484 33.1057V38.2371C111.484 39.3958 112.063 39.3958 112.063 39.3958H109.249Z" fill="#003767"/><path d="M116.491 39.5613C114.215 39.5613 112.808 37.8647 112.808 35.7542C112.808 33.5195 114.38 31.6987 116.739 31.6987C119.015 31.6987 120.381 33.3954 120.381 35.5059C120.381 37.7405 118.891 39.5613 116.491 39.5613ZM116.491 32.8574C115.332 32.8574 114.463 33.7678 114.463 35.4231C114.463 37.2439 115.332 38.4026 116.739 38.4026C117.898 38.4026 118.767 37.4509 118.767 35.837C118.767 34.1403 117.939 32.8574 116.491 32.8574Z" fill="#003767"/><path d="M128.036 33.1471V39.4372H126.878C126.878 39.4372 126.588 38.5681 125.678 37.4508L123.153 34.3885V38.2371C123.153 39.4372 123.857 39.4785 123.857 39.4785H121.333C121.333 39.4785 121.912 39.4372 121.912 38.2371V33.2712C121.912 32.4022 120.96 31.9884 120.877 31.947H123.277L126.836 36.3749V33.1884C126.836 31.9884 126.216 31.947 126.216 31.947H128.699C128.616 31.9056 128.036 31.9056 128.036 33.1471Z" fill="#003767"/><path d="M139.416 32.1539V36.2508C139.416 38.6096 138.134 39.5614 136.023 39.5614C133.54 39.5614 132.464 38.4854 132.464 36.3749V32.1539C132.464 30.7056 131.761 30.7056 131.761 30.7056H135.03C135.03 30.7056 134.326 30.7469 134.326 32.1126V36.3335C134.326 37.7819 134.906 38.3199 136.147 38.3199C137.389 38.3199 137.885 37.6578 137.885 36.3335V32.1539C137.885 30.7469 137.099 30.7056 137.099 30.7056H140.203C140.161 30.7056 139.416 30.7056 139.416 32.1539Z" fill="#003767"/><path d="M147.693 33.1471V39.4372H146.534C146.534 39.4372 146.245 38.5681 145.334 37.4508L142.81 34.3885V38.2371C142.81 39.4372 143.513 39.4785 143.513 39.4785H140.989C140.989 39.4785 141.568 39.4372 141.568 38.2371V33.2712C141.568 32.4022 140.617 31.9884 140.534 31.947H142.934L146.493 36.3749V33.1884C146.493 31.9884 145.872 31.947 145.872 31.947H148.355C148.272 31.9056 147.693 31.9056 147.693 33.1471Z" fill="#003767"/><path d="M149.017 39.3958C149.017 39.3958 149.597 39.3544 149.597 38.2371V33.1057C149.597 31.947 149.017 31.9056 149.017 31.9056H151.831C151.831 31.9056 151.252 31.947 151.252 33.1057V38.2371C151.252 39.3958 151.831 39.3958 151.831 39.3958H149.017Z" fill="#003767"/><path d="M159.321 33.3126L156.921 39.3958H155.762L153.321 33.2713C152.783 31.947 152.245 31.9056 152.245 31.9056H155.307C155.307 31.9056 154.811 31.947 154.811 32.4022C154.811 32.5678 154.893 32.7333 155.018 33.023L156.59 36.9957L158.121 32.9816C158.204 32.7747 158.245 32.6091 158.245 32.4436C158.245 31.947 157.749 31.9056 157.749 31.9056H160.397C160.397 31.9056 159.859 31.9056 159.321 33.3126Z" fill="#003767"/><path d="M166.067 39.3958H160.894C160.894 39.3958 161.515 39.3544 161.515 38.0716V33.1471C161.515 31.947 160.77 31.9056 160.77 31.9056H165.942V34.0575C165.86 33.6851 165.611 32.9402 164.618 32.9402H163.17V35.1335H164.453C165.28 35.1335 165.322 34.5541 165.322 34.5541V36.7474C165.322 36.7474 165.28 36.168 164.453 36.168H163.17V38.4026H164.742C165.653 38.4026 166.149 38.0302 166.48 37.1612L166.067 39.3958Z" fill="#003767"/><path d="M171.446 39.3958L170.205 37.0784C169.874 36.4577 169.75 36.3335 169.501 36.3335H169.294V38.113C169.294 39.3544 169.915 39.3544 169.915 39.3544H167.143C167.143 39.3544 167.763 39.3131 167.763 38.113V33.1471C167.763 31.9056 167.06 31.8643 167.06 31.8643H170.37C172.15 31.8643 173.06 32.9402 173.06 34.0575C173.06 35.0093 172.439 35.9611 171.198 36.0852C171.405 36.168 171.57 36.3749 171.777 36.7474L172.812 38.5268C173.267 39.3131 173.846 39.3544 173.929 39.3544C173.888 39.3958 171.446 39.3958 171.446 39.3958ZM170.081 32.8988H169.294V35.4231H170.081C171.032 35.4231 171.405 34.8024 171.405 34.1403C171.405 33.4782 170.95 32.8988 170.081 32.8988Z" fill="#003767"/><path d="M176.536 39.5613C175.709 39.5613 174.922 39.3544 174.384 38.982V36.5818C174.757 37.9061 175.709 38.444 176.578 38.444C177.24 38.444 177.778 38.113 177.778 37.575C177.778 36.7887 176.867 36.4577 175.998 36.0025C175.212 35.5887 174.426 35.0507 174.426 33.9748C174.426 32.6091 175.502 31.7401 177.033 31.7401C177.736 31.7401 178.398 31.947 178.771 32.2367V34.223C178.44 33.2299 177.654 32.8161 176.909 32.8161C176.164 32.8161 175.833 33.1885 175.833 33.6437C175.833 34.2644 176.495 34.5541 177.24 34.9265C178.192 35.3817 179.267 35.9197 179.267 37.3267C179.309 38.7751 178.109 39.5613 176.536 39.5613Z" fill="#003767"/><path d="M180.095 39.3958C180.095 39.3958 180.675 39.3544 180.675 38.2371V33.1057C180.675 31.947 180.095 31.9056 180.095 31.9056H182.909C182.909 31.9056 182.33 31.947 182.33 33.1057V38.2371C182.33 39.3958 182.909 39.3958 182.909 39.3958H180.095Z" fill="#003767"/><path d="M188.661 32.8988H187.709V38.113C187.709 39.3544 188.289 39.3958 188.289 39.3958H185.475C185.475 39.3958 186.054 39.3958 186.054 38.113V32.8988H185.061C184.233 32.8988 183.82 32.9816 183.488 33.9747L183.654 31.8643H190.068L190.234 33.9747C189.861 33.023 189.53 32.8988 188.661 32.8988Z" fill="#003767"/><path d="M196.896 33.1885L195.075 36.2094V38.113C195.075 39.3544 195.655 39.3958 195.655 39.3958H192.841C192.841 39.3958 193.462 39.3544 193.462 38.113V36.2922L191.682 33.1885C190.979 31.9056 190.482 31.9056 190.482 31.9056H193.544C193.544 31.9056 193.172 31.947 193.172 32.3195C193.172 32.485 193.255 32.7747 193.462 33.1471L194.538 35.0093L195.489 33.354C195.779 32.8574 195.903 32.5678 195.903 32.3608C195.903 31.947 195.572 31.947 195.572 31.947H198.055C198.014 31.9056 197.6 31.947 196.896 33.1885Z" fill="#003767"/><path d="M197.434 37.244V37.5751H196.814V39.2304H196.4V37.5751H195.779V37.244H197.434ZM199.586 39.2304L199.503 38.0717C199.503 37.9061 199.503 37.7406 199.503 37.5337C199.462 37.6992 199.379 37.9475 199.338 38.113L198.965 39.2304H198.552L198.179 38.113C198.138 37.9475 198.096 37.7406 198.055 37.5337C198.055 37.6992 198.055 37.9061 198.055 38.0717L197.972 39.2304H197.6L197.765 37.244H198.345L198.676 38.1958C198.717 38.3613 198.759 38.4855 198.8 38.6924C198.841 38.5269 198.883 38.3613 198.924 38.1958L199.255 37.2026H199.834L200 39.189L199.586 39.2304Z" fill="#003767"/><path d="M54.0037 23.174C51.8519 23.174 49.9483 22.8016 48.3758 22.0153C46.8033 21.2291 45.6032 20.029 44.7341 18.4565C43.9065 16.8425 43.4927 14.8562 43.4927 12.4146C43.4927 9.9731 43.9065 7.94537 44.7341 6.37285C45.5618 4.80032 46.8033 3.60024 48.3758 2.81398C49.9483 2.02771 51.8105 1.65527 54.0037 1.65527C56.197 1.65527 58.0592 2.02771 59.6317 2.81398C61.2042 3.60024 62.4043 4.75894 63.232 6.37285C64.0596 7.98675 64.4734 9.9731 64.4734 12.4146C64.4734 14.8562 64.0596 16.8425 63.232 18.4565C62.4043 20.0704 61.2042 21.2291 59.6317 22.0153C58.0592 22.7602 56.1556 23.174 54.0037 23.174ZM54.0037 19.8221C55.0383 19.8221 55.9901 19.6565 56.7763 19.3669C57.5626 19.0772 58.2661 18.622 58.8041 18.0012C59.342 17.4219 59.7559 16.677 60.0455 15.808C60.3352 14.939 60.4594 13.9044 60.4594 12.7457V12.0836C60.4594 10.9249 60.3352 9.89033 60.0455 8.97993C59.7559 8.06952 59.342 7.32464 58.8041 6.74529C58.2661 6.16593 57.604 5.71073 56.7763 5.37967C55.9487 5.04861 55.0383 4.92447 54.0037 4.92447C52.9692 4.92447 52.0174 5.09 51.2311 5.37967C50.4449 5.66935 49.7414 6.12455 49.2034 6.74529C48.6654 7.32464 48.2516 8.06952 47.962 8.97993C47.6723 9.89033 47.5481 10.8835 47.5481 12.0836V12.7457C47.5481 13.9044 47.6723 14.8976 47.962 15.808C48.2516 16.7184 48.6241 17.4219 49.2034 18.0012C49.7828 18.5806 50.4035 19.0358 51.2311 19.3669C52.0174 19.6565 52.9278 19.8221 54.0037 19.8221Z" fill="#003767"/><path d="M67.5771 22.8016V1.98633H75.9363C78.0468 1.98633 79.8262 2.35877 81.3574 3.10365C82.8885 3.84853 84.0058 5.00723 84.8335 6.49699C85.6197 8.02813 86.0335 9.9731 86.0335 12.3733C86.0335 14.732 85.6197 16.677 84.8335 18.2082C84.0058 19.7393 82.8885 20.898 81.3574 21.6429C79.8676 22.3878 78.0468 22.7602 75.9363 22.7602L67.5771 22.8016ZM71.5084 19.4496H75.8949C76.8881 19.4496 77.7157 19.3255 78.4606 19.0358C79.2055 18.7461 79.8262 18.3323 80.3228 17.7943C80.8194 17.2564 81.1918 16.5529 81.4815 15.6838C81.7298 14.8562 81.8539 13.863 81.8539 12.7457V12.125C81.8539 11.0076 81.7298 10.0145 81.4815 9.14545C81.2332 8.31781 80.8194 7.61431 80.3228 7.03496C79.8262 6.49699 79.2055 6.04178 78.4606 5.79349C77.7157 5.50382 76.8467 5.37967 75.8949 5.37967H71.5084V19.4496Z" fill="#003767"/><path d="M97.6619 23.174C95.8411 23.174 94.2686 22.8843 92.9444 22.305C91.6201 21.7256 90.627 20.8152 89.9235 19.6152C89.22 18.4151 88.8889 16.9253 88.8889 15.1045V1.98633H92.8202V14.9803C92.8202 16.5942 93.234 17.7943 94.0617 18.622C94.8893 19.4496 96.0894 19.8634 97.6206 19.8634C99.1517 19.8634 100.352 19.4496 101.221 18.622C102.09 17.7943 102.504 16.5942 102.504 14.9803V1.98633H106.435V15.1045C106.435 16.8839 106.063 18.4151 105.359 19.6152C104.656 20.8152 103.662 21.7256 102.338 22.305C101.055 22.8843 99.4827 23.174 97.6619 23.174Z" fill="#003767"/><path d="M122.077 23.174C118.85 23.174 116.367 22.305 114.587 20.5669C112.808 18.8289 111.897 16.0977 111.897 12.3733C111.897 9.93172 112.311 7.90399 113.139 6.33146C113.967 4.75894 115.208 3.55886 116.78 2.77259C118.353 1.98633 120.257 1.61389 122.491 1.61389C123.815 1.61389 125.057 1.77942 126.257 2.0691C127.416 2.35877 128.45 2.85536 129.361 3.43471C130.271 4.01406 130.975 4.8417 131.471 5.75211C131.968 6.66252 132.216 7.77984 132.216 9.06269H128.161C128.161 8.40058 127.995 7.82122 127.705 7.28325C127.416 6.74529 127.002 6.33146 126.505 6.00041C126.009 5.62797 125.388 5.37967 124.726 5.21414C124.064 5.04862 123.36 4.96585 122.615 4.96585C121.498 4.96585 120.546 5.13138 119.677 5.42106C118.85 5.71073 118.146 6.16593 117.567 6.74529C116.987 7.32464 116.574 8.06952 116.325 8.97993C116.036 9.89033 115.911 10.9249 115.911 12.0836V12.7043C115.911 14.3596 116.16 15.6838 116.615 16.7598C117.07 17.7943 117.774 18.5806 118.725 19.0772C119.677 19.5738 120.836 19.8221 122.243 19.8221C123.443 19.8221 124.478 19.6565 125.388 19.2841C126.298 18.9117 127.002 18.3737 127.498 17.7116C127.995 17.0495 128.285 16.139 128.285 15.1459V14.939H121.664V11.6698H132.257V22.843H129.443L129.112 20.5256C128.492 21.1463 127.871 21.6429 127.167 22.0153C126.464 22.3878 125.719 22.7188 124.891 22.8843C124.064 23.0499 123.153 23.174 122.077 23.174Z" fill="#003767"/><path d="M135.816 22.8016V0.869019H139.499V22.8016H135.816Z" fill="#003767"/><path d="M149.969 23.174C148.231 23.174 146.783 22.8843 145.582 22.2636C144.424 21.6842 143.513 20.7324 142.934 19.5323C142.355 18.2909 142.065 16.7184 142.065 14.8148C142.065 12.9112 142.355 11.3387 142.934 10.0972C143.513 8.85574 144.382 7.94533 145.582 7.36598C146.741 6.78662 148.231 6.45557 149.969 6.45557C151.707 6.45557 153.197 6.74524 154.355 7.36598C155.514 7.98671 156.383 8.85574 156.963 10.0972C157.542 11.3387 157.832 12.9112 157.832 14.8148C157.832 16.7184 157.542 18.2909 156.963 19.5323C156.383 20.7738 155.514 21.6842 154.355 22.2636C153.197 22.8429 151.707 23.174 149.969 23.174ZM149.969 20.1117C150.962 20.1117 151.707 19.9462 152.328 19.5323C152.907 19.1599 153.362 18.5806 153.611 17.8357C153.9 17.0908 154.024 16.139 154.024 15.0217V14.6079C154.024 13.4905 153.9 12.5388 153.611 11.7939C153.321 11.049 152.907 10.4696 152.328 10.0972C151.748 9.72476 150.962 9.51785 149.969 9.51785C148.976 9.51785 148.231 9.72476 147.61 10.0972C147.031 10.4696 146.576 11.049 146.327 11.7939C146.038 12.5388 145.913 13.4905 145.913 14.6079V15.0217C145.913 16.139 146.038 17.0908 146.327 17.8357C146.617 18.5806 147.031 19.1599 147.61 19.5323C148.231 19.9462 149.017 20.1117 149.969 20.1117Z" fill="#003767"/><path d="M168.839 23.174C167.805 23.174 166.853 22.9671 166.025 22.5533C165.198 22.1395 164.494 21.5187 163.956 20.6911H163.749L163.46 22.8016H160.397V0.869019H164.08V8.69026H164.246C164.577 8.19367 164.949 7.77985 165.446 7.44879C165.901 7.11773 166.439 6.86944 167.06 6.70391C167.681 6.53838 168.343 6.45562 169.046 6.45562C170.246 6.45562 171.281 6.74529 172.233 7.32464C173.143 7.90399 173.888 8.8144 174.384 10.0559C174.922 11.2973 175.171 12.8699 175.171 14.7734C175.171 16.7184 174.922 18.2909 174.384 19.5324C173.846 20.7739 173.143 21.6843 172.191 22.2636C171.281 22.8844 170.163 23.174 168.839 23.174ZM167.681 19.9876C168.591 19.9876 169.336 19.8221 169.832 19.4496C170.37 19.1186 170.743 18.5392 170.991 17.8357C171.239 17.1322 171.322 16.1804 171.322 15.0631V14.6493C171.322 13.532 171.198 12.5802 170.991 11.8353C170.784 11.0904 170.37 10.5525 169.832 10.18C169.294 9.84896 168.591 9.64205 167.681 9.64205C167.06 9.64205 166.522 9.76619 166.067 9.9731C165.611 10.18 165.239 10.5111 164.949 10.9249C164.66 11.3387 164.453 11.8767 164.287 12.4974C164.163 13.1182 164.08 13.8216 164.08 14.6079V15.0217C164.08 16.0563 164.204 16.9667 164.453 17.7116C164.701 18.4565 165.115 18.9944 165.653 19.3669C166.191 19.7807 166.853 19.9876 167.681 19.9876Z" fill="#003767"/><path d="M181.875 23.174C181.419 23.174 180.923 23.1326 180.343 23.0085C179.764 22.8843 179.226 22.6774 178.688 22.3877C178.15 22.098 177.695 21.6428 177.364 21.0221C177.033 20.4428 176.867 19.6565 176.867 18.6633C176.867 17.5874 177.116 16.677 177.612 15.9321C178.109 15.1872 178.771 14.6492 179.681 14.2354C180.592 13.8216 181.626 13.5319 182.826 13.3664C184.068 13.2009 185.392 13.1181 186.84 13.1181V11.7939C186.84 11.3387 186.758 10.9248 186.634 10.5524C186.509 10.18 186.22 9.89029 185.847 9.68338C185.475 9.47647 184.896 9.35232 184.151 9.35232C183.406 9.35232 182.826 9.43509 182.413 9.642C181.999 9.84891 181.709 10.0558 181.544 10.3041C181.378 10.5524 181.295 10.8421 181.295 11.1318V11.5456H177.654C177.654 11.4628 177.612 11.3387 177.612 11.2559C177.612 11.1731 177.612 11.049 177.612 10.8835C177.612 9.97305 177.902 9.18679 178.44 8.52468C178.978 7.86256 179.723 7.36598 180.716 6.99354C181.709 6.66248 182.826 6.45557 184.068 6.45557C185.516 6.45557 186.716 6.66248 187.668 7.0763C188.62 7.49012 189.323 8.06947 189.779 8.81435C190.234 9.55923 190.482 10.4696 190.482 11.5456V19.0771C190.482 19.4496 190.606 19.7393 190.813 19.9048C191.02 20.0703 191.268 20.1531 191.558 20.1531H192.551V22.7188C192.344 22.8015 192.055 22.8843 191.682 23.0085C191.31 23.1326 190.813 23.174 190.234 23.174C189.696 23.174 189.241 23.0912 188.827 22.9257C188.413 22.7602 188.041 22.5119 187.792 22.1808C187.503 21.8497 187.296 21.4773 187.172 21.0221H187.006C186.675 21.4359 186.261 21.8084 185.765 22.1808C185.268 22.5532 184.73 22.7602 184.109 22.9671C183.447 23.0912 182.702 23.174 181.875 23.174ZM182.992 20.1117C183.613 20.1117 184.151 20.0289 184.606 19.822C185.061 19.6151 185.475 19.4082 185.806 19.0771C186.137 18.7461 186.344 18.3736 186.551 17.8771C186.716 17.4219 186.799 16.9253 186.799 16.3459V15.601C185.682 15.601 184.647 15.6838 183.737 15.8079C182.826 15.9321 182.04 16.2218 181.502 16.5942C180.964 16.9666 180.675 17.5046 180.675 18.2495C180.675 18.6219 180.757 18.953 180.923 19.2013C181.088 19.4496 181.337 19.6979 181.709 19.822C182.04 20.0289 182.454 20.1117 182.992 20.1117Z" fill="#003767"/><path d="M194.248 22.8016V0.869019H197.931V22.8016H194.248Z" fill="#003767"/><path d="M20.2773 40.5546C31.4761 40.5546 40.5545 31.4761 40.5545 20.2773C40.5545 9.07845 31.4761 0 20.2773 0C9.07844 0 0 9.07845 0 20.2773C0 31.4761 9.07844 40.5546 20.2773 40.5546Z" fill="#003767"/><path d="M6.41423 17.753C6.49699 17.6289 6.29008 17.6289 5.91764 17.753C4.59341 18.3738 1.90357 19.698 1.15869 19.9877C1.15869 21.0636 0.951783 26.1536 4.55203 31.285C4.05544 27.1882 4.30374 21.105 6.41423 17.753Z" fill="white"/><path d="M15.1459 33.1057C15.0631 33.1057 13.7803 36.4577 13.0354 38.0302C13.6148 38.2785 14.2355 38.5268 14.8148 38.6923C15.3528 36.7887 15.4356 34.5541 15.1459 33.1057Z" fill="white"/><path d="M10.9249 16.0563C8.44197 16.3046 6.91083 19.6979 6.7453 20.1945C3.93131 27.7261 7.15912 28.3054 6.78668 33.8092C7.07635 34.0989 7.24188 34.2644 7.57294 34.5541C8.06953 34.0989 8.44197 32.7333 8.48335 32.1126C8.85579 33.2713 9.22823 35.837 9.22823 35.8784C10.3869 36.706 11.2146 37.1612 12.6216 37.8233C12.6216 28.0571 8.19367 30.0021 10.9249 16.0563Z" fill="white"/><path d="M31.4091 20.4842C31.1608 17.9185 27.7675 16.9667 25.5328 17.9185C24.1258 18.4978 23.4223 19.7807 23.8362 21.5187C23.8776 21.7256 23.9189 22.0567 24.3741 21.9325C25.0362 21.767 27.8502 20.8152 28.1813 20.7325C28.0158 21.0635 25.988 24.4155 25.8639 24.581C26.4432 24.3741 28.9262 23.3395 29.2159 23.2568C29.0089 23.6292 27.933 25.45 27.6433 25.988C27.7675 25.988 29.34 26.0708 29.7124 25.9052C30.6642 25.1604 33.6437 22.7602 33.6437 22.6774C33.6024 22.6774 31.4091 20.4842 31.4091 20.4842Z" fill="white"/><path d="M26.1535 15.3942L24.4568 15.27C24.4154 16.8425 26.1949 16.4287 26.1535 15.3942Z" fill="white"/><path d="M34.3058 20.7324C34.223 20.7738 34.0575 21.229 33.7265 20.9394C33.5609 20.8566 33.1057 20.36 33.0643 20.36C32.7333 20.2772 32.485 20.6911 32.5264 20.8152C32.5264 20.8566 33.6437 21.767 33.9747 22.0567C34.8852 21.3946 35.0093 20.6497 35.0093 20.6497C35.0093 19.822 30.9538 16.7184 29.4641 15.4769C29.2158 15.1458 29.0917 14.8976 29.0089 14.2354C28.9261 13.1595 28.3468 11.3801 27.6847 11.1318C27.5605 11.049 27.6019 10.9249 27.6019 10.8007C28.5123 6.62111 26.1535 5.66932 25.7811 5.2555C25.7811 5.7107 26.1121 6.37282 26.1535 6.49697C26.6087 7.5729 26.2363 7.90396 26.1535 7.69705C24.9121 4.22094 21.0635 1.48972 15.1045 2.27598C17.1736 3.06224 19.0772 3.93127 20.1117 6.08314C20.0703 6.08314 16.4287 3.10362 12.2491 3.02086C8.89715 4.552 5.66935 7.15908 3.47609 11.2973C3.47609 11.2973 5.33829 10.8007 6.16593 10.718C5.04861 11.5042 3.60024 12.2905 2.60707 13.2009C1.77942 15.1872 1.32422 17.3391 1.24146 19.6565C5.62796 15.7252 8.85577 14.1527 11.7939 14.9803C8.02813 8.19364 12.8698 4.51062 17.6702 10.3041C17.4219 10.5524 16.9253 10.6352 16.8011 10.4283C14.6493 7.5729 8.64886 7.07632 12.8285 14.8976C12.4146 15.6838 8.69024 24.1672 13.1181 31.2435C13.325 31.5746 13.2009 28.264 13.532 26.6915C14.401 26.8984 16.6356 33.5195 17.5874 36.6646C18.2081 35.7956 18.953 34.1403 19.3255 33.5195C19.5324 34.1403 19.6565 38.113 19.822 39.4786C19.9048 39.4786 20.6911 39.52 21.9325 39.3958C22.4291 38.6923 22.8016 37.9061 22.9671 37.6164L23.2154 39.2303C25.988 38.7751 28.1812 38.0302 30.2504 36.6646C31.3677 35.9197 30.4573 30.4986 30.3745 30.0848C30.4573 30.1262 32.2781 31.0366 32.4436 30.8297C32.7333 30.4159 32.0712 28.1399 32.1125 27.9743C32.1539 27.9743 33.0643 28.8847 33.2712 28.7606C33.5609 28.5537 33.023 26.9398 33.1057 26.857C33.1885 26.7743 33.8506 27.4777 33.9747 27.3536C34.1817 27.0639 33.6851 24.7051 33.4368 24.6224C33.3954 24.6224 31.6573 27.3122 28.9675 28.4295C28.802 28.5123 30.1262 33.1057 29.6296 33.8506C28.9261 32.9402 14.6907 24.0016 23.1326 16.5942C23.2981 16.4701 23.2981 16.2632 23.174 16.2218C22.9257 16.139 22.0567 15.8907 21.8498 15.808C21.9325 15.6011 22.6774 15.4355 22.7188 15.3941C21.9739 14.7734 21.8912 14.401 21.8912 14.1941C23.2154 14.8976 23.7533 14.8976 24.7465 14.732C25.4086 14.6493 25.9052 14.3596 27.1467 14.8562C28.3054 15.3528 34.3058 19.9876 34.3058 20.7324ZM13.6561 13.0354C10.5524 9.97307 13.9872 8.48331 15.5183 10.8835C15.6838 10.9662 13.6561 12.994 13.6561 13.0354ZM25.5328 9.64201C23.4637 8.85575 20.1117 9.4351 20.1117 9.4351C21.229 8.56608 18.7875 6.99355 19.0358 7.15908C19.6979 7.49014 22.8843 8.52469 22.8843 8.06949C22.8429 7.53152 21.1463 4.30371 22.0567 5.2555C22.0567 5.21412 24.6638 7.53152 25.5328 9.64201Z" fill="white"/>
          </svg>
        </a>
      </div>{# END HOME LOGO-LINK #}

      {# DESKTOP-ONLY MAIN-NAV #}
      <div class="hidden grow sidebar-up:flex justify-end">
          {% block main_nav %}
            {{ main_nav }}
          {% endblock %}
      </div>{# END DESKTOP-ONLY MAIN-NAV #}

      {# MOBILE-ONLY MENU-BUTTON #}
      <div class="sidebar-up:hidden">
        <button
          id="{{ mobileMenuTogglerId }}"
          type="button"
          aria-controls="{{ mobileMenuId }}"
          aria-expanded="false"
          aria-label="Main menu"
          class="
            hide-if-no-js
            group/button
            relative w-10 h-10 sm:w-12 sm:h-12
            -mx-1
          "
        >
          <span aria-hidden="true" class="block absolute w-2/3 h-1/2 top-0 sm:top-0.5 left-1/2 -translate-x-1/2">
            {# tw #} {% set spanClasses = 'block absolute top-1/2 w-full h-[.17rem] bg-current group-hocus/button:bg-navy-400 transition-[background-color,opacity,transform] duration-300 will-change-transform motion-reduce:transition-colors' %}
            <span class="{{ spanClasses }} -translate-y-1.5 sm:-translate-y-2 group-aria-expanded/button:translate-y-0 group-aria-expanded/button:rotate-45"></span>
            <span class="{{ spanClasses }} group-aria-expanded/button:opacity-0"></span>
            <span class="{{ spanClasses }} translate-y-1.5 sm:translate-y-2 group-aria-expanded/button:translate-y-0 group-aria-expanded/button:-rotate-45"></span>
          </span>
          <svg aria-hidden="true" class="block absolute bottom-0.5 sm:bottom-1 left-1/2 -translate-x-1/2 fill-navy-500 group-hocus/button:fill-navy-400 transition-colors duration-300" width="30" height="8" viewBox="0 0 30 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7.4922V0.414185H2.34214L3.35329 4.03574C3.39456 4.16643 3.43583 4.3212 3.4771 4.50004C3.51837 4.67888 3.55964 4.85772 3.60092 5.03657C3.64907 5.20853 3.6869 5.3633 3.71441 5.50087H3.79695C3.81071 5.38393 3.83479 5.24636 3.86918 5.08815C3.90357 4.92307 3.9414 4.74767 3.98267 4.56195C4.02395 4.37623 4.06866 4.19738 4.11681 4.02542L5.12795 0.414185H7.42882V7.4922H5.91211V4.13892C5.91211 3.82938 5.91211 3.51985 5.91211 3.21031C5.91898 2.8939 5.92586 2.61876 5.93274 2.38489C5.9465 2.15102 5.95338 1.99969 5.95338 1.9309H5.87083C5.85708 2.00657 5.82268 2.14758 5.76766 2.35393C5.71951 2.55341 5.66448 2.76665 5.60257 2.99364C5.54754 3.22063 5.49595 3.41667 5.4478 3.58175L4.3438 7.4922H3.00248L1.88816 3.59207C1.84689 3.44762 1.79874 3.2791 1.74371 3.0865C1.69556 2.88702 1.64741 2.6841 1.59926 2.47775C1.55799 2.26451 1.51672 2.08223 1.47545 1.9309H1.3929C1.39978 2.11662 1.40666 2.34018 1.41354 2.60156C1.42042 2.85607 1.4273 3.12089 1.43418 3.39603C1.44105 3.6643 1.44449 3.91192 1.44449 4.13892V7.4922H0Z" /><path d="M8.99786 7.4922V0.414185H14.652V1.67296H10.5455V3.25158H14.1774V4.50004H10.5455V6.22311H14.7139V7.4922H8.99786Z" /><path d="M16.041 7.4922V0.414185H17.4545L20.3022 4.23178C20.3435 4.27993 20.3951 4.34871 20.457 4.43813C20.5189 4.52067 20.5774 4.60322 20.6324 4.68576C20.6874 4.7683 20.7253 4.83365 20.7459 4.8818H20.7975C20.7975 4.76486 20.7975 4.65137 20.7975 4.54131C20.7975 4.42438 20.7975 4.3212 20.7975 4.23178V0.414185H22.2523V7.4922H20.8387L17.9291 3.58175C17.8603 3.48545 17.7881 3.37884 17.7125 3.2619C17.6368 3.14497 17.5818 3.05555 17.5474 2.99364H17.4958C17.4958 3.09682 17.4958 3.19999 17.4958 3.30317C17.4958 3.39947 17.4958 3.49233 17.4958 3.58175V7.4922H16.041Z" /><path d="M26.884 7.61602C26.2374 7.61602 25.6803 7.51284 25.2125 7.30649C24.7517 7.10013 24.3974 6.79059 24.1498 6.37788C23.9022 5.95829 23.7784 5.43896 23.7784 4.81989V0.414185H25.326V4.77862C25.326 5.28763 25.4602 5.67971 25.7284 5.95485C25.9967 6.22311 26.3819 6.35725 26.884 6.35725C27.3862 6.35725 27.7714 6.22311 28.0396 5.95485C28.3148 5.67971 28.4523 5.28763 28.4523 4.77862V0.414185H30V4.81989C30 5.43896 29.8762 5.95829 29.6286 6.37788C29.3809 6.79059 29.0232 7.10013 28.5555 7.30649C28.0946 7.51284 27.5375 7.61602 26.884 7.61602Z"/></svg>
        </button>
      </div>{# END MOBILE-ONLY MENU BUTTON #}

    </div>

    <noscript>
      <details class="sidebar-up:hidden mt-6 space-y-2">
        <summary class="text-lg cursor-pointer max-w-max">Menu</summary>
        <div class="space-y-6 pt-2 [&>nav]:block [&>nav>ol]:flex-col [&>nav>ol]:space-y-4 [&>nav>ol>li]:text-lg">
          {% block main_nav_noscript %}
            {{ main_nav_noscript }}
          {% endblock %}

          <div class="flex flex-col space-y-5">
            {% block utility_nav_noscript %}
              {{ utility_nav_noscript }}
            {% endblock %}

            {# INFO-FOR LINKS (SELECT) #}
            <details class="relative">
              <summary class="px-2 max-w-max cursor-pointer transition-colors text-sm leading-none font-bold text-theme-fancy-link-color hocus:text-theme-fancy-link-hocus-color">Info for...</summary>
              <div class="bg-theme-bg-color mt-6 w-max p-4 border border-neutral-700">
                <ul role="list" class="space-y-2">
                  {% for link in infoForLinks %}
                    <li><a href="{{ link.url }}" class="text-sm leading-none font-bold text-theme-fancy-link-color hocus:text-theme-fancy-link-hocus-color">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </details>{# END DESKTOP INFO-FOR LINKS NO-JS FALLBACK #}


            {# MOBILE SEARCH-FORM #}
            <form action="{{ searchFormAction }}" class="flex bg-mid-blue-500 text-white max-w-sm">
              {% set noJsSearchInputId = 'no-js-menu-site-search' %}

              <label
                for="{{ noJsSearchInputId }}"
                class="sr-only"
              >Search</label>

              <input
                id="{{ noJsSearchInputId }}"
                name="q"
                placeholder="Search"
                value="{{ search_query }}"
                class="
                  bg-mid-blue-500 text-white rounded-none px-3 py-2 grow min-w-0
                  text-base leading-none {# have to use at least 16-pt font so that iOS doesn't do the zoom-thing on focus #}
                  placeholder:text-current placeholder:text-sm placeholder:font-bold
                "
              />

              <button
                type="submit"
                aria-label="Submit"
                class="group/button p-3 shrink-0"
              >
                <svg aria-hidden="true" class="fill-white group-hocus/button:fill-white/80 transition-colors" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2373_8795)"><path d="M14.67 14.6699C14.7745 14.5656 14.8574 14.4417 14.914 14.3053C14.9705 14.1688 14.9996 14.0226 14.9996 13.8749C14.9996 13.7273 14.9705 13.581 14.914 13.4446C14.8574 13.3082 14.7745 13.1843 14.67 13.0799L11.82 10.2299C11.7603 10.1695 11.7228 10.0907 11.7135 10.0063C11.7043 9.92191 11.7238 9.83685 11.769 9.76495C12.6033 8.43629 12.9189 6.84683 12.6555 5.30021C12.3921 3.7536 11.5681 2.35823 10.341 1.38068C9.11386 0.403128 7.56962 -0.0880868 6.00325 0.000873791C4.43689 0.0898344 2.95819 0.752734 1.84965 1.86294C0.741109 2.97314 0.0804239 4.45283 -0.00619174 6.01932C-0.0928074 7.58582 0.400718 9.12933 1.38011 10.355C2.35949 11.5806 3.75609 12.4025 5.3031 12.6636C6.85011 12.9247 8.43909 12.6068 9.7665 11.7704C9.83848 11.7252 9.9237 11.7057 10.0082 11.7153C10.0927 11.7248 10.1714 11.7628 10.2315 11.8229L13.0815 14.6729C13.1857 14.7776 13.3096 14.8607 13.4461 14.9174C13.5825 14.974 13.7288 15.0032 13.8765 15.0032C14.0242 15.0032 14.1705 14.974 14.3069 14.9174C14.4434 14.8607 14.5673 14.7776 14.6715 14.6729L14.67 14.6699ZM2.25 6.37495C2.25 5.5591 2.49193 4.76157 2.94519 4.08322C3.39845 3.40487 4.04269 2.87616 4.79643 2.56394C5.55018 2.25173 6.37958 2.17004 7.17975 2.32921C7.97992 2.48837 8.71493 2.88124 9.29182 3.45813C9.86871 4.03502 10.2616 4.77003 10.4207 5.5702C10.5799 6.37037 10.4982 7.19977 10.186 7.95352C9.87379 8.70726 9.34508 9.3515 8.66673 9.80476C7.98838 10.258 7.19085 10.4999 6.375 10.4999C5.28123 10.4992 4.23248 10.0643 3.45906 9.29088C2.68565 8.51747 2.2508 7.46872 2.25 6.37495Z" /></g><defs><clipPath id="clip0_2373_8795"><rect width="15" height="15" /></clipPath></defs></svg>
              </button>
            </form>{# END MOBILE SEARCH-FORM #}

          </div>

        </div>
      </details>
    </noscript>
  </div>{# END MAIN AREA OF SITE-HEADER #}

  {# MOBILE MENU (non-modal dialog w/ focus-trapping; pushes down from below main area of site-header) #}
  <div
    id="{{ mobileMenuId }}"
    role="dialog"
    aria-label="Main menu"
    aria-hidden="true"
    class="aria-hidden:invisible aria-hidden:sr-only aria-hidden:overflow-y-hidden data-[is-transitioning]:overflow-y-hidden"
    style="height: 0; transition: height 300ms;"
  >
    {% block main_nav_mobile %}
      {{ main_nav_mobile }}
    {% endblock %}
    {#
      NOTE: for some reason, VoiceOver won't move from the `nav` above to the stuff below in Chrome on my Mac.
      Would be nice to figure out why.
    #}

    {# BLUE AREA IN MOBILE MENU (utility-links, info-for dropdown, search-input) #}
    {% set blueMenuArea %}
      <div class="bg-theme-bg-color text-theme-text-color py-5 space-y-6">
        <div class="container">

          <div class="flex flex-col space-y-5">
            {# MOBILE UTILITY LINKS #}
            <ul
              role="list"
              class="flex flex-col space-y-4"
            >
              {% for link in utilityLinks %}
                <li>
                  <a
                    href="{{ link.url }}"
                    class="text-sm font-bold hocus:text-theme-fancy-link-color"
                  >{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>{# END MOBILE UTILITY LINKS #}

            {# tw #} {% set controlColors = 'bg-mid-blue-500 text-white' %}

            {# MOBILE INFO-FOR LINKS (SELECT) #}
            <div class="max-w-sm">
              {% set selectBgSvg %}
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1979_17514)"><path d="M7.41 8.59003L12 13.17L16.59 8.59003L18 10L12 16L6 10L7.41 8.59003Z" fill="white"/></g><defs><clipPath id="clip0_1979_17514"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>
              {% endset %}

              <select
                id="mobile-info-for-select"
                aria-label="'Info for' links (selecting an option will navigate to the corresponding page)"
                style="--selectBgImg: url('data:image/svg+xml,{{ selectBgSvg|escape('url') }}')"
                class="
                  {{ controlColors }} appearance-none rounded-none p-3
                  text-sm leading-none font-bold w-full pr-10
                  bg-[image:var(--selectBgImg)] bg-[center_right_.5rem] bg-no-repeat
                "
              >
                <option value="">Select info for...</option>
                {% for link in infoForLinks %}
                  <option value="{{ link.url }}">{{ link.title }}</option>
                {% endfor %}
              </select>
            </div>{# END MOBILE INFO-FOR LINKS #}

            {# MOBILE SEARCH-FORM #}
            <form action="{{ searchFormAction }}" class="flex {{ controlColors }} max-w-sm">
              {% set searchInputId = 'mobile-site-search' %}

              <label
                for="{{ searchInputId }}"
                class="sr-only"
              >Search</label>

              <input
                id="{{ searchInputId }}"
                name="q"
                placeholder="Search"
                class="
                  {{ controlColors }} rounded-none px-3 py-2 grow min-w-0
                  text-base leading-none {# have to use at least 16-pt font so that iOS doesn't do the zoom-thing on focus #}
                  placeholder:text-current placeholder:text-sm placeholder:font-bold
                "
                value="{{ search_query }}"
              />

              <button
                type="submit"
                aria-label="Submit"
                class="group/button p-3 shrink-0"
              >
                <svg aria-hidden="true" class="fill-theme-text-color group-hocus/button:fill-theme-fancy-link-color transition-colors" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2373_8795)"><path d="M14.67 14.6699C14.7745 14.5656 14.8574 14.4417 14.914 14.3053C14.9705 14.1688 14.9996 14.0226 14.9996 13.8749C14.9996 13.7273 14.9705 13.581 14.914 13.4446C14.8574 13.3082 14.7745 13.1843 14.67 13.0799L11.82 10.2299C11.7603 10.1695 11.7228 10.0907 11.7135 10.0063C11.7043 9.92191 11.7238 9.83685 11.769 9.76495C12.6033 8.43629 12.9189 6.84683 12.6555 5.30021C12.3921 3.7536 11.5681 2.35823 10.341 1.38068C9.11386 0.403128 7.56962 -0.0880868 6.00325 0.000873791C4.43689 0.0898344 2.95819 0.752734 1.84965 1.86294C0.741109 2.97314 0.0804239 4.45283 -0.00619174 6.01932C-0.0928074 7.58582 0.400718 9.12933 1.38011 10.355C2.35949 11.5806 3.75609 12.4025 5.3031 12.6636C6.85011 12.9247 8.43909 12.6068 9.7665 11.7704C9.83848 11.7252 9.9237 11.7057 10.0082 11.7153C10.0927 11.7248 10.1714 11.7628 10.2315 11.8229L13.0815 14.6729C13.1857 14.7776 13.3096 14.8607 13.4461 14.9174C13.5825 14.974 13.7288 15.0032 13.8765 15.0032C14.0242 15.0032 14.1705 14.974 14.3069 14.9174C14.4434 14.8607 14.5673 14.7776 14.6715 14.6729L14.67 14.6699ZM2.25 6.37495C2.25 5.5591 2.49193 4.76157 2.94519 4.08322C3.39845 3.40487 4.04269 2.87616 4.79643 2.56394C5.55018 2.25173 6.37958 2.17004 7.17975 2.32921C7.97992 2.48837 8.71493 2.88124 9.29182 3.45813C9.86871 4.03502 10.2616 4.77003 10.4207 5.5702C10.5799 6.37037 10.4982 7.19977 10.186 7.95352C9.87379 8.70726 9.34508 9.3515 8.66673 9.80476C7.98838 10.258 7.19085 10.4999 6.375 10.4999C5.28123 10.4992 4.23248 10.0643 3.45906 9.29088C2.68565 8.51747 2.2508 7.46872 2.25 6.37495Z" /></g><defs><clipPath id="clip0_2373_8795"><rect width="15" height="15" /></clipPath></defs></svg>
              </button>
            </form>{# END MOBILE SEARCH-FORM #}

          </div>

        </div>

        <button
          id="{{ mobileMenuCloserId }}"
          type="button"
          aria-label="Close main menu"
          class="group/button flex items-center py-1 px-3 xs:py-1.5 sm:py-2 sm:px-4 mx-auto"
        >
          <span aria-hidden="true" class="mask-x w-2.5 h-2.5 sm:w-3 sm:h-3 bg-theme-text-color group-hocus/button:bg-theme-fancy-link-color transition-colors"></span>
          <span aria-hidden="true" class="ml-2 sm:ml-2.5 uppercase font-narrow font-bold tracking-wider text-base sm:text-lg group-hocus/button:text-theme-fancy-link-color transition-colors">Close Menu</span>
        </button>
      </div>
    {% endset %}
    {% include '@components/utilities/theme-flag.twig' with {
      theme: 'navy-500',
      component: blueMenuArea
    } only %}{# END BLUE AREA IN MOBILE MENU #}

  </div>{# END MOBILE MENU #}

  {# DESKTOP-ONLY SECTION-NAV #}
    {% set sectionNav %}
      {% block secondary_nav %}
        {{ secondary_nav }}
      {% endblock %}
    {% endset %}

    {% include '@components/utilities/theme-flag.twig' with {
      component: sectionNav,
      theme: 'neutral-50'
    } only %}
  {# END DESKTOP-ONLY SECTION-NAV #}

  {# BREADCRUMBS (DESKTOP-ONLY?) #}
  {% block breadcrumb %}
    {{ breadcrumb }}
  {% endblock %}
  {# END BREADCRUMBS #}
</header>