{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
    {% if content %}
        {% if media.field_external_link is not empty %}
            <div onclick="document.location.href='{{ media.field_external_link.0.url }}';" style="cursor:pointer">{{ content }}</div>
        {% else %}
            {{ content }}
        {% endif %}
    {% endif %}
</article>
